{% extends 'base.html.twig' %}

{% block title %}Hello DocumentationController!
{% endblock %}
			
{% block body %}
<main class="container-fluid">
  <div class="row">
      <div class="col-6 my-5">
        <img src=" {{ asset('images/' ~ Plante.image ) }} " class="img-fluid rounded-start w-100" alt="{{ Plante.image }}">
      </div>
        <div class="col-6 my-5">
          <h1>{{Plante.nom}}</h1>
          <h3>{{Plante.description}}</h3>
        </div>
        <div>
        <img src=" {{ asset('images/' ~ Culti.image ) }} " class="img-fluid rounded-start" alt="{{ Culti.image }}">
        </div>
  </div>
</main>
{% endblock %}