{% extends 'base.html.twig' %}

{% block title %} {{Plante.nom}}
{% endblock %}
			
{% block body %}
<link rel="stylesheet" href="{{ asset('../styles/plante.css')}}">

<main class="centre container-fluid">

  <div id="back" class="d-lg-none">
    <a class="arrow d-flex justify-content-center align-items-center" href="plantes">
      <i class="bi bi-arrow-left"></i>
    </a>
  </div>

	<div class="row">
		<h1 class="text-center mx-auto">{{Plante.nom}}</h1>
		<div class="my-5 d-flex flex-wrap justify-content-around">
			<img src=" {{ asset('images/plantes/' ~ Plante.image ) }} " class="img-fluid mb-2" alt="{{ Plante.image }}">
			{% for image in tabImg %}
			<img src=" {{ asset('images/plantes/' ~ image  ) }} " class="img-fluid mb-2" alt="{{ image }}">
			{% endfor %}
		</div>
		<div class=" my-5">
			<p class="fs-5 text-center">{{Plante.description}}</p>
		</div>
	</div>
</main>

<div class="img" id="fin"></div>

{% endblock %}