

{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
	<link rel="stylesheet" href="../styles/register.css">

    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}    

<div class="formulaire d-flex align-items-center col-md-8 col-lg-6 mx-auto">

        <div class="connexion mx-auto d-flex">            
            <div class=" d-flex flex-column justify-content-center">
                <h1 class="text-center h3">Créer un compte</h1>                
                {{ form_start(registrationForm) }}
                <div>
                {{ form_row(registrationForm.nom) }}
                </div>                
                <div>
                {{ form_row(registrationForm.prenom) }}
                </div>
                <div>
                {{ form_row(registrationForm.telephone) }}
                </div>
                <div>
                {{ form_row(registrationForm.email) }}
                </div>
                <div>
                {{ form_row(registrationForm.plainPassword, 
                    { label: 'Password'}) 
                }}
                </div>
                <div class="col-11 mx-auto d-block text-center">                
                {{ form_row(registrationForm.agreeTerms,
                    { label: 'Accepter les conditions'}) 
                }}
                </div>
                <div class="registerbutton pt-1">
                    <button type="submit" class="btn btn-primary btn-lg mx-auto d-block">S'inscrire</button>
                </div>    

                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
    
    <div class="img" id="fin">
    </div>

{% endblock %}
