{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
<link rel="stylesheet" href="../styles/footer.css">


    <h1 class="text-center">Créer un compte</h1>
    <div class="col-6 mx-auto d-flex flex-column align-items-center">


    {{ form_start(registrationForm) }}
        
        <div class="">
        {{ form_row(registrationForm.email) }}
        </div>

        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        
        {{ form_row(registrationForm.agreeTerms) }}
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>

    {{ form_end(registrationForm) }}
    </div>

{% endblock %}
